:root {
  --backgroundColor: #fff;
  --colorPrimary: #141414;
  --colorSuccess: #008060;
  --colorError: #cd432d;
  --colorSecondary: #e44a32;
  --colorInfo: #008060;
  --colorTextBase: #141414;
  --font-base: "Gilroy";
  --borderRadiusBase: 6px;
  --inputBorderColor: #b0b0b0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "someRegularFont";
  src: url("../public/fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "someMediumFont";
  src: url("../public/fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "someHeavyFont";
  src: url("../public/fonts/Gilroy-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "someBoldFont";
  src: url("../public/fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "someLightFont";
  src: url("../public/fonts/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: "someExtraBoldFont";
  src: url("../public/fonts/Gilroy-ExtraBold.ttf") format("truetype");
}

body {
  font-family: someMediumFont;
  letter-spacing: 1px;
  line-height: 25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page {
  padding: 20px;
  margin: 10px 10px 10px calc(33% + 10px);
}
