.title {
  font-size: 18px;
  font-family: someBoldFont;
}

.section {
  margin-bottom: 20px;
}

.content {
  margin-top: 5px;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
  width: 200px;
  color: var(--backgroundColor);

  padding: 5px 10px;
  border-radius: 7px;
}

.resume {
  background-color: var(--colorSecondary);
}

.resume:hover {
  background-color: #c43f2b;
}

.projectList {
  margin: 20px 0px;
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.showMore {
  width: 100px;
  margin: 0px auto;
  color: var(--colorSecondary);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.showMore:hover {
  color: #c43f2b;
}
